/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Inter-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Inter-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Inter-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Inter-SemiBold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    line-height: 1;
    src: url(/fonts/Inter-Bold.ttf) format("truetype");
  }
}

@layer components {
  .my-mask-image {
    mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  }
}
#index {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section-1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  z-index: -1;
  background: linear-gradient(176deg, #2930a9 10.97%, #5d6bd1 290%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 75%);
}

.section-2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  z-index: -1;
  background: linear-gradient(176deg, #2930a9 10.97%, #5d6bd1 290%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 75%);
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
