/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Inter-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Inter-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Inter-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Inter-SemiBold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    line-height: 1;
    src: url(/fonts/Inter-Bold.ttf) format("truetype");
  }
}

@layer components {
  .my-mask-image {
    mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  }
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1233px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1233px;
  }
}

.section-1::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0%;
  bottom: 10%;
  width: 100%;
  left: -25%;
  background: linear-gradient(176deg, #2930a9 10.97%, #5d6bd1 290%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
}

.section-2::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -10%;
  bottom: 10%;
  width: 100%;
  left: -25%;
  background: linear-gradient(176deg, #2930a9 10.97%, #5d6bd1 290%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
}
