---
import "../../base.css";
import { Image } from "astro:assets";
import MyImage from "../icons/myImage.png";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout pageTitle="404 page">
  <section
    class="section-1 relative flex min-h-screen w-full snap-start pt-20 md:min-h-fit md:pt-32"
  >
    <p class="m-auto px-3 font-semibold">
      This page is still work in progress...
    </p>
  </section>
</BaseLayout>

<script>
  import { inView, animate } from "motion";
</script>
