---
const { value, href } = Astro.props;
---

<a
  href={href}
  class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-blue-purple-gradient before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
>
  <span class="relative text-white">
    {value}
  </span>
</a>
