---
const { value, href } = Astro.props;
---

<a
  href={href}
  class="border-neutral-border relative gap-1 rounded-full border-2 border-solid bg-black px-5 py-2.5 before:absolute before:inset-0 before:rounded-full before:bg-black before:transition before:duration-300
  hover:before:scale-105 hover:before:border-2 hover:before:border-solid
  hover:before:border-white active:duration-75 active:before:scale-100 sm:w-max"
>
  <span class="relative text-white">
    {value}
  </span>
</a>
