---

---

<footer class="bg-footer">
  <div class="mx-auto flex h-28 max-w-[1232px] items-center justify-between">
    <div>
      <p
        class="mb-1
      font-thin
      uppercase
      leading-snug
      tracking-[2px]
      text-white"
      >
        © Vivek Lokhande.
      </p>
    </div>
    <div class="flex">
      <span class="mx-3
    mb-1
    font-thin
    leading-snug
    text-white"
        >Blogs</span
      >
      <span class="mx-3
    mb-1
    font-thin
    leading-snug
    text-white"
        >Contact</span
      >
      <span class="mx-3
    mb-1
    font-thin
    leading-snug
    text-white"
        >Project</span
      >
      <span class="mx-3
    mb-1
    font-thin
    leading-snug
    text-white"
        >Talks</span
      >
    </div>
  </div>
</footer>
