---
import { Icon } from "astro-icon";
const { imageObject, orgName, position, tenure } = Astro.props;
---

<li class="flex list-none justify-between py-3">
  <div class="flex">
    <Icon
      name={imageObject}
      alt="gh_logo"
      class="mx-3 h-10 w-10 transform transition duration-300 hover:text-color-red focus:text-color-red"
    />

    <div class="ml-4">
      <p class="font-sm mb-1 uppercase leading-snug tracking-[2px] text-white">
        {orgName}
      </p>
      <p class="text-xs text-white">{position}</p>
    </div>
  </div>
  <div class="w-32">
    <p class="text-xs text-white">{tenure}</p>
  </div>
</li>
