---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import ghLogo from "../icons/github-mark-white.svg";
import xLogo from "../icons/twitterx.svg";
import linkedinLogo from "../icons/linkedin.svg";
---

<aside class="flex justify-end">
  <nav
    class="border-neutral-border mb-14 mr-4 mt-4 w-fit cursor-pointer rounded-full border-2 border-solid bg-black px-4 py-2"
  >
    <a class="px-3 font-semibold">Blogs</a>
    <a class="px-3 font-semibold">Talks</a>
    <a class="px-3 font-semibold">Projects</a>
    <a class="px-3 font-semibold">Contact</a>
  </nav>
  <nav
    class="border-neutral-border mb-14 mt-4 flex w-fit cursor-pointer rounded-full border-2 border-solid bg-black px-4 py-2"
  >
    <Image src={ghLogo} alt="github_logo" class="mx-3 h-6 w-6" />
    <Image src={xLogo} alt="x_logo" class="mx-3 h-6 w-6" />
    <Image src={linkedinLogo} alt="linkedin_logo" class="mx-3 h-6 w-6" />
  </nav>
</aside>
