---
import { Icon } from "astro-icon";
---

<div class="relative mx-auto">
  <aside
    class="container fixed z-40 mx-auto flex w-full justify-end px-2 pt-16 sm:px-8 md:px-4 md:pt-0 lg:px-4"
  >
    <nav
      class="mb-14 mr-4 mt-4 w-fit cursor-pointer rounded-full bg-black px-4 py-2 ring-1 ring-neutral-border"
    >
      <a href="/blogs" class="px-3 font-semibold">Blogs</a>
      <a href="/talks" class="px-3 font-semibold">Talks</a>
      <a href="/projects" class="px-3 font-semibold">Projects</a>
    </nav>
    <nav
      class="mb-14 mt-4 flex w-fit cursor-pointer rounded-full bg-black px-4 py-2 ring-1 ring-neutral-border"
    >
      <a href="https://www.github.com/isVivek99" aria-label="github redirect">
        <Icon
          name="github-mark-white"
          alt="gh_logo"
          class="mx-3 h-6 w-6 transform transition duration-300 hover:text-color-red focus:text-color-red"
        />
      </a>
      <a
        href="https://twitter.com/VivekLokhande99"
        aria-label="twitter redirect"
      >
        <Icon
          name="twitterx"
          alt="x_logo"
          class="mx-3 h-6 w-6 transform transition duration-300 hover:text-color-yellow focus:text-color-yellow"
        /></a
      >
      <a
        href="https://www.linkedin.com/in/vivek-lokhande-737939188/"
        aria-label="linkedin redirect"
      >
        <Icon
          name="linkedin"
          alt="linkedin_logo"
          class="mx-3 h-6 w-6 transform transition duration-300 hover:text-color-blue focus:text-color-blue"
        /></a
      >
    </nav>
  </aside>
</div>
