---
import { Icon } from "astro-icon";
import Card from "./Card.astro";
---

<>
  <h1 class="text-center text-4xl font-bold leading-none tracking-tight">
    My Tech Stack
  </h1>
  <div class="relative mt-8 flex items-center justify-center">
    <div class="mx-auto h-[480px] w-[1px] border border-neutral-border"></div>
    <div
      class="absolute mx-auto h-[1px] w-full max-w-[1130px] border border-neutral-border"
    >
    </div>
    <div class="absolute mx-auto grid w-full max-w-[1130px] grid-cols-2">
      <div class="flex h-[200px] w-full items-center justify-center">
        <Card
          cardFooter="frontend"
          cardWidth="w-[150px] sm:w-[240px] xl:w-[480px]"
        >
          <div class="mx-auto grid grid-cols-2 justify-center sm:flex">
            <Icon
              name="react"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
            <Icon
              name="remix"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
            <Icon
              name="astro_logo_figma"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
            <Icon
              name="tailwind"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
          </div>
        </Card>
      </div>
      <div class="flex h-[200px] w-full items-center justify-center">
        <Card
          cardFooter="backend"
          cardWidth="w-[150px] sm:w-[240px] xl:w-[480px]"
        >
          <div class="mx-auto grid grid-cols-2 justify-center sm:flex">
            <Icon
              name="nodejs"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
            <Icon
              name="mongodb"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
            <Icon
              name="mysql"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
          </div>
        </Card>
      </div>
      <div class="flex h-[200px] w-full items-center justify-center">
        <Card
          cardFooter="deployment & CI/CD"
          cardWidth="w-[150px] sm:w-[240px] xl:w-[480px]"
        >
          <div class="mx-auto grid grid-cols-2 justify-center sm:flex">
            <Icon
              name="gitlab"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
            <Icon
              name="railway"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
            <Icon
              name="github-mark-white"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />

            <Icon
              name="vercel"
              class="svgRotate mx-2 my-1 w-10 sm:mx-4 sm:my-0"
            />
          </div>
        </Card>
      </div>
      <div class="flex h-[200px] w-full items-center justify-center">
        <Card
          cardFooter="notes & ideation 💡"
          cardWidth="w-[150px] sm:w-[240px] xl:w-[480px]"
          ]
        >
          <div class="mx-auto grid grid-cols-2 justify-center sm:flex">
            <Icon
              name="notion"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
            <Icon
              name="excalidraw"
              class="svgRotate mx-2 my-1 h-10 w-10 sm:mx-4 sm:my-0"
            />
          </div>
        </Card>
      </div>
    </div>
  </div>
</>
