---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import NavbarMobile from "../components/NavbarMobile.astro";
// Supports weights 100-900

const { pageTitle } = Astro.props;
---

<html
  lang="en"
  class="overflow-x-hidden break-words bg-black [color-scheme:dark]"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="vivek lokhandes portfolio" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="min-h-screen font-sans">
    <main class="container mx-auto px-2 pt-16 sm:px-8 md:px-4 md:pt-0 lg:px-0">
      <div class="hidden md:block">
        <Navbar />
      </div>
      <div class="flex justify-end md:hidden">
        <NavbarMobile />
      </div>
      <slot />
    </main>
  </body>

  <Footer />
</html>
